@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    background-size:cover;
}

/*
Z-index para que cuando se suba o se haga scroll los cards no pasen por encima del header
*/
.header{
    width: 100%;
    z-index: 1;
}

.headerStyle{
    color: aliceblue;
    background-color:red;
    font-family: 'Shadows Into Light', cursive;
}

.datos_personajes{
    margin-top: 140px;
    margin-bottom: 60px;
    
}


.prueba{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color:white;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;

}
.card:hover{
    background-color:yellow;
    transition: all 1s;
    
}

.card-img-top {
    border-bottom-width: 10px solid;
    border-bottom-color: #00FF00;
    background-color:red;
    text-transform: uppercase;
    text-align: center; 
    width:100%;
    height: 100%; 
}

.page-link {
    font-family: 'Shadows Into Light', cursive;
    background-color: blue;
    color: #00FF00;
}